<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio Transcription</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div id="gearsIconContainer">
        <img src="./static/brainy.svg" alt="Gears Icon" id="gearsIcon">
    </div>
    {% include 'alerts.html' %}
    {% include 'controls.html' %}
    {% include 'transcription.html' %}
    <script src="./static/audioControls.js" defer></script>
    <script src="./static/transcription.js" defer></script>
    <script src="./static/fileHandling.js" defer></script>
    <script src="./static/alerts.js" defer></script>
</body>
</html>
